.card {
  display: flex;
  border-radius: 1rem;
  height: 80vh;
  overflow: hidden;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #444;

}
hr{
    opacity: 0.1;
}
.card-img {
  flex: 1;
  overflow: hidden;
}
.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-content-chef img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.card-content {
  flex: 1;
  padding: 1rem;
}
.details-title {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.details-title span{
    width: 100%;
    text-align: center;

}
.details-title .active::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(1rem);
    transition: width 0.3s, background-color 0.3s;
}
.card-content-header h1 {
margin-bottom: 1rem;
}
.card-content-body .list{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    font-weight: lighter;
    color: gray;
    font-weight: 100;
    font-size: small;
}
.card-content-chef {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.card-content-chef-info{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}
.card-content-chef-info small{
color: #7d7d7d;
}
.details-section{
    padding: 1rem;
}

.card-content-action{
    float: right;

}
.card-content-action >*{
    padding: 1rem;
}
.details-title>*{
    cursor: pointer;
}
.card-content-body{
  margin-bottom: 2rem;
}
.card-content-body p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
.small{
  color: #777;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .card {
        display: block;
        height: auto;
    }
}
