.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  height: 80vh;
  overflow: hidden;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #444;
  position: relative;

}
hr{
    opacity: 0.1;
}
.card-img {
  overflow: hidden;
}
.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-content-chef img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}
.card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem auto 3rem;
  padding:  1rem ;
  gap: 1rem;
}
.card-body{
  overflow-y: scroll;
}
.details-title {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.details-title span{
    width: 100%;
    text-align: center;

}
.details-title .active::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(1rem);
    transition: width 0.3s, background-color 0.3s;
}
.card-content-header h1 {
margin-bottom: 1rem;
}
.card-content-body .list{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    color: #aaa;
    font-size: 14px;
    font-weight: lighter;
}
.card-content-chef {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.card-content-chef-info{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    cursor: pointer;
}
.card-content-chef-info small{
color: #7d7d7d;
}
.details-section{
    padding: 1rem;
}

.card-content-action{
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.details-title>*{
    cursor: pointer;
}

 p {
  line-height: 1.6;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.6em;
  transition: max-height 0.3s ease;
}
.small{
  color: #777;
  cursor: pointer;
}
.comment-input{
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment-input i{
  font-size: 1.5rem;
  color: #777;

}
.expand{
  white-space: normal;
  max-height: 100%;
}
.show{
  cursor: pointer;
font-weight: bold;

}
.comment-container{
  overflow-y: scroll;
  max-height: 140px;

}
.comment-data{
  display: flex;
place-items: center;
  gap: 2rem;
  padding: .5rem 0;
}
.comment-data-user img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #777;
}
.comment-data-user{
display: flex;
place-items: center;
flex: 1;
gap: 10px;

}
.comment-data-user span{
  font-size: large;
  white-space: nowrap;
  text-overflow: ellipsis;}
.comment-data span{
  font-size: small;
  flex: 2;

}
.details-section{
  max-height: 140px;

}

@media only screen and (max-width: 768px) {
    .card {
        display: block;
        height: auto;
    }

}

@media (max-width: 400px) {
  .card-content-body .list{
    font-size: 11px;
    gap: 1rem;


  }

}


