<div class="dashboard">

    <app-aside></app-aside>
    <div class="card">
        <div class="add">
<h3></h3>

          </div>
        @if (usersState$ | async;as state) {
            @if (state.loading) {
                <app-spinner></app-spinner>
            }@else if (state.error) {
                <span>{{state.error}}</span>
            }@else if (state.data) {
                <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>image</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of state.data; track $index) {
                            <tr>
                                <td>{{$index +1}}</td>
                                <td>{{item.username}}</td>
                                <td><img src="{{item.profileImage}}" alt=""></td>
                                <td>{{item.role}}</td>
    
                                <td class="actions">
                                    <button  class="delete">
                                      <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <button  class="update">
                                      <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                  </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    
            }
            @if (state.meta) {
                <app-pagination  (load)="onPageChange($event)" [totalPages]="state.meta.totalPages || 0 "></app-pagination>
              }
    
        }
    </div>
</div>

