<div class="header">
    <a class="logo" [routerLink]="['/']">Top Chefs</a>
    <div class="">
        <form action="" method="post">
            <input type="search" (input)="onSearch($event)" placeholder="Search for a recipe" />
        </form>
    </div>
    @if (userData$ | async ; as data) {
    <div class="user-data">
        <button><i class="fa-regular fa-bookmark"></i></button>
        <img (click)="onLogout()" src="{{ data.profileImage }}" />
    </div>
    }@else{
    <button [routerLink]="['/auth']" class="btn">Login/Signup</button>
    }
</div>