<div class="header">
    <a class="logo" [routerLink]="['/']">Top Chefs</a>
    <div class="">
        <form action="" method="post">
            <input type="search" (input)="onSearch($event)" placeholder="Search for a recipe" />
        </form>
    </div>
    @if (userData$ | async ; as data) {
    <div class="user-data">
        <img src="{{ data.img }}" />
        <span>{{ data.userName }}</span>
        <button (click)="onLogout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
    }@else{
    <button [routerLink]="['/auth']" class="btn">Login/Signup</button>
    }
</div>