.header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 10;
  background-color: #fff;
}
input[type="search"] {
  padding-left: 1rem;
  width: 100%;
  border: none;
  height: 45px;
  border-radius: 1.5rem;
  background-color: #f4f4f4;
}
.logo {
  color: #c05164;
  font-size: x-large;
  font-weight: 800;
}
input::placeholder{
  padding-left: 1rem;
  opacity: .4;
}
.user-data{
  display: flex;
  justify-content: space-evenly;
}
.user-data img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
}
.user-data button{
  border: none;
  background: transparent;
}




