<div class="aside">

    <div [routerLink]="['/dashboard/category']" class="items">
        <i class="fa-solid fa-table-columns"></i>
        <span>Dashboard</span>
    </div>

    <div [routerLink]="['/dashboard/category']"  class="items">
        <i class="fa-solid fa-utensils"></i>
        <span>Recipe</span>
    </div>

    <div [routerLink]="['/dashboard/category']" class="items">
        <i class="fa-solid fa-table-cells-large"></i>
         <span>Category</span>
    </div>


    <div [routerLink]="['/dashboard/category']" class="items">
        <i class="fa-solid fa-users-rectangle"></i>
        <span>Users</span>
    </div>





</div>
