
@if(userData$ | async ; as user){
    <span class="small"><span [routerLink]="['/']" >Home</span> > {{user.username}}</span>

    <div class="user-data">
        <img src="{{user.profileImage}}" alt="">
        <h2>{{user.username}}</h2>
        <span>{{user.bio}}</span>
        <div class="actions">
            <button class="btn-secondary">follow</button>
        </div>

</div>
    
<div class="grid">
    @if(user.recipes && user.recipes.length > 0){
    @for(recipe of user.recipes ;track recipe._id){
        <app-recipe-card [recipe] = "recipe"></app-recipe-card>
    }
}@else {
    <span>No recipes at the moment. Stay tuned for delicious additions!</span>
}

</div>


}