@if (userData$ | async ; as data) {
    @if(data.loading){
        <span>loading</span>
    }@else if (data.error) {
        <span>data.error</span>
    }@else if (data.data) {
        <div class="profile">
            <div class="profileCard">
                <div class="cardheader">
                    <img src={{data.data.profileImage}} alt="">
                    <button class="btn">logout</button>
                </div>
                <div class="carddata">
                    <h3>{{data.data.username}}</h3>
                    <p>{{data.data.bio}}</p>
                </div>
            </div>
            <div class="profileRecipe">
        
            </div>
        </div>
    }


}