.categories{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding: 0 1rem ;

}
.category-item{
font-weight: 500;
cursor: pointer;
padding: 1rem;
color: gray;
white-space: nowrap;
cursor: pointer;
}
.selected{
color: black;
}