.categories{
    overflow-x: hidden;
    padding:  .5rem 0;
    /* background-color: cornflowerblue; */
    /* height: 50px;
    display: flex;
    gap: 12px; */
}
.category-item{
font-weight: 500;
padding: 1rem ;
cursor: pointer;
color: gray;
}
.selected{
color: black;
}