<app-categories></app-categories>

<div class="grid">
  @if(state$ | async ; as state){
    @if(state.loading){

    }@else if (state.error) {

    }@else {
      @for (recipe of state.data; track recipe.title) {
        <div class="grid-item"  (click)="onClick(recipe._id)">
          <img class="recipe-img" [src]="recipe.media[0]" />
          
          <div class="recipe-info">
            <div class="flex " (click)="$event.stopPropagation()">
              <h2>{{ recipe.title }}</h2>
              <i (click)="addToFavorite(recipe)" class="fa-regular fa-bookmark"></i>
              </div>
      
            <div class="recipe-chef">
              @if (recipe.chef) {
              <span>{{ recipe.chef.username }}</span>
      
              }@else {
              <span>empty</span>
              }
            </div>
          </div>
        </div>
      
        }
    }

  }

</div>
