<div class="dashboard">
  <app-aside></app-aside>
  <div class="card">
    <div class="add">
      <div class="addInput">
      @if(isAddNewCategory){
      <input type="text" placeholder="new category ..." [(ngModel)]="newCategory" (blur)="onSave()"
        (keydown.enter)="onSave()" />
      <button (click)="showInput()" class="close"><i class="fa-solid fa-xmark"></i></button>
      }
    </div>
      <button (click)="showInput()" class="new btn">
        <i class="fa-solid fa-plus"></i>   {{ !isAddNewCategory ? 'New' : 'Add' }}

      </button>
    </div>
    @if(categoryState$ | async ;as postService){ @if(postService.loading){
    <span>loading..</span>
    } @else if(postService.error){
    <span>{{ postService.error }}</span>
    } @else if(postService.data){
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(category of postService.data ; track $index){
        <tr>
          <td>{{ $index + 1 }}</td>
          @if(editing && rowNum == $index +1 ){
          <td>
            <input type="text" value="{{ category.name }}" [(ngModel)]="updatedCategory.name" (blur)="saveCell()"
              (keydown.enter)="saveCell()" />
          </td>
          }@else {
          <td (dblclick)="isEditing($index + 1, category)">
            {{ category.name }}
          </td>
          }
          <td class="actions">
            <button (click)="onDelete(category)" class="delete">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button (click)="isEditing($index + 1, category)" class="update">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>

    } }
  </div>
</div>