
<div class="dashboard">
<app-aside></app-aside>
<div class="cards">

    <div class="item">
        <span>Category</span>
        @if(category$ |async ; as category){
            <span>{{category.data?.length ?? "0"}}</span>

        }
    </div>

    <div class="item">
        <span>Recipe</span>
        @if(recipe$ |async ; as recipe){
            <span>{{recipe.data?.length ?? "0"}}</span>

        }   
     </div>

    <div class="item">
        <span>Users</span>
        @if(user$ |async ; as user){
            <span>{{user.data?.length ?? "0"}}</span>
        }   
     </div>


</div>

</div>