<div class="dashboard">
  <app-aside></app-aside>
  <div class="card">
    <div class="add">
      <button (click)="showForm()" class="new btn">
        <i class="fa-solid fa-plus"></i>New
      </button>
    </div>
    @if(isShowForm){
    <div class="recipe_form" (click)="showForm()">
      <div class="form_card" (click)="$event.stopPropagation()">
        <div class="flex">
          <h3>Add New Recipe</h3>
          <button (click)="showForm()"><i class="fa-solid fa-multiply"></i></button>
        </div>
        <div class="form">
          <app-recipe-form></app-recipe-form>
        </div>
      </div>
    </div>
    }
    @if(state$ | async ;as state){ 
    @if(state.loading){
    <app-spinner></app-spinner>
    }
     @if(state.data){
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(recipe of state.data ; track $index){
          <tr>
            <td>{{ $index + 1 }}</td>

            <td (dblclick)="isEditing(recipe )">
              <i (click)="showDetails($index + 1,recipe )" class="fa-solid"
                [ngClass]="isShowDetails && rowNum== $index + 1? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              {{ recipe.title }}
            </td>
            <td class="actions">
              <button (click)="onDelete(recipe)" class="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button (click)="isEditing( recipe)" class="update">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </td>
          </tr>

          @if (isShowDetails && rowNum== $index + 1) {
          <tr colspan="3">
            <td colspan="3">
              <h3>Category</h3>
              <span>{{recipe.category.name}}</span><br>
              <img style="width: 50px; height: 50px;" src={{recipe.media[0]}} alt=""><br>
              <span><strong>cookingTime</strong> {{recipe.cookingTime}} -
                <strong>preparationTime</strong>{{recipe.preparationTime}} </span>
              <h3>Ingredients</h3>
              @for(ingredient of recipe.ingredients ; track $index){
              <span>{{ingredient}}</span><br>

              }
              <h3>Steps</h3>
              @for(step of recipe.steps ; track $index){
              <span> {{step}}</span><br>
              }

            </td>
          </tr>
          }


          }
        </tbody>
      </table>
    </div>

    }@if (state.meta) {
      <app-pagination  (load)="onPageChange($event)" [totalPages]="state.meta.totalPages || 0 "></app-pagination>
    }
   }


  </div>
</div>