:root {
    --black: #000000;
    --teal: #86FDF1;
    --light-blue: #C9D6EA;
    --violet: #52489C;
    --yellow: #FFD449;
    --white: #F7F3F3;
    --title-font: vollkorn, serif;
    --primary-font: system-ui, sans-serif;
    --secondary-font: Georgia, serif;
    --lg-font: 2.5rem;
    --md-font: 1rem;
    --sm-font: .5rem;
  }



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


input,
button,
textarea,
select {
  font: inherit;
}

body{
    padding: 0 2rem;
}
.btn {
  background-color: #af4c5c;
  border: none; 
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.btn:hover {
  background-color: #c05164; 
}

.btn:active {
  background-color: #9e4352; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
}
.btn-secondary {
  background-color: #fff;
  border: none; 
  color: gray; 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  border-radius: 8px; 
  cursor: pointer; 
  border: 1px solid #717171;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.btn-secondary:hover {
  background-color: #c05164; 
  color: #fff;
  border: 1px solid #fff;

}

.btn-secondary:active {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none; 
}
body {
  font-family: Arial, sans-serif; 
  line-height: 1.6;   
  margin-top: 5rem;
}
input:focus{
  outline: none;
  border:1px solid #c05164;

}
input{
  width: 100%;
  padding: .7rem;
  display: block;
  border-radius: 11px;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input::placeholder{
  color: rgba(0, 0, 0, 0.2);
}

form small{
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 11px;
  color: rgb(236, 159, 172);
}
 .form-group{
  position: relative;
}

